<!DOCTYPE html>
<html>
<body>
        <%include ./partial/header%>
<form action="/teknisi/edit/<%=dataTeknisi.id%>" method="post">
  Name:<br>
  <input type="text" name="name" value="<%=dataTeknisi.name%>">
  <br>
  Username:<br>
  <input type="text" name="username" value="<%=dataTeknisi.username%>">
  <br>
  Password:<br>
  <input type="text" name="password" value="<%=dataTeknisi.password%>">
  <br>
  Email:<br>
  <input type="text" name="email" value="<%=dataTeknisi.email%>">
  <br>
  <br>
  <input type="submit" value="Edit">
</form> 



</body>
</html>