<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <%include ./partial/header%>
    <form class="" action="/employee/edit/<%=employee.id%>" method="post">
      <input type="input" name="name" value="<%=employee.name%>">
      <input type="input" name="username" value="<%=employee.username%>">
      <input type="input" name="password" value="<%=employee.password%>">
      <input type="input" name="email" value="<%=employee.email%>">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
